body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #282828;
    line-height: 1.5;
    margin: 0;
}

.body-s {
    font-size: 15px;
    color: #4a4a4a;
}


h1 {
    font-size: 60px;
    font-weight: 600;
    color: #4a4a4a;
    margin: 5px 0px 50px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: #4a4a4a;
    margin: 20px 0px;
}

h3 {
    font-size: 24px;
    font-weight: 550;
    color: #4a4a4a;
    margin: 50px 0px 30px;
}

h4 {
    font-size: 22px;
    font-weight: 500;
    color: #393939;
    margin: 30px 0px 30px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    color: #393939;
    margin: 20px 0px;
}

a {
    text-decoration: none;
    color: #7D9ABC;
}

.title-underline {
    width: 120px;       /* Adjust the length of the line */
    height: 4px;       /* Thickness of the line */
    background-color: #4a4a4a; /* Change the color if needed */
    margin-top: 30px;   /* Space above the line */
    margin-bottom: 50px; /* Space below the line */
  }


/* Nav CSS */


.topnav {
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 20px 23px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu>a {
    width: 100%;
    text-align: left;
}

.topnav a {
    text-decoration: none;
    color: #222222;
}



/* Home - Introduction section CSS */

.intro {
    
    padding: 20px 23px;
}

.intro-img {
    margin: 30px 5px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.handle {
    font-size: 14px;
    margin: 5px 0px;
}

.handle a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* Home - Hero section CSS */

.hero-banner {
    position: relative;
    background-image: url('../images/gabin-vallet-J154nEkpzlQ-unsplash.jpg'); /* Update this path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.hero-overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    padding: 0 20px;
}

.hero-content h1 {
    color: white;
}

.hero-link {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    background: none;
    border-bottom: 3px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 16px 0px;
    margin-top: 100px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.hero-link:hover {
    border-bottom: 10px solid white;

    padding: 16px 0px 9px;
}

/* Home - Feature section CSS */

.feature {
    padding: 20px 23px;
}

.feature-header {
    padding: 155px 0px 50px;
}

.feature-img {
    margin: 14px 0px;
    width: 100%;
}

.space {
    height: 80px;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0.2;
    transition: all 2s ease;
}
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
       
.button {
    font-size: 18px;
    font-family: Source Sans 3;
    color: #ffffff;
    text-decoration: none;
    border: 1.5px solid #393939;
    border-radius: 4px;
    background-color: #393939;
    padding: 14px 20px;
    
    cursor: pointer;
    transition-duration: 0.3s;
}

.secondary-button {
    font-size: 18px;
    color: #222222;
    text-decoration: none;
    border: 1.5px solid #373737;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 14px 20px;
    margin: 50px 0px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #fafafa;
    border: 1.5px solid #393939;
    color: #393939;
}

.secondary-button:hover {
    background-color: #fafafa;
    border: 1.5px solid #222222;
}


/* Blog Page CSS */


.blog-img {
    display: block;
    width: 100%;
    max-width: 770px;
    max-height: 433px;
    margin: 40px auto;
    object-fit: cover;
}

/* Contact Page CSS */

.contact-section {
    text-align: center;
    padding: 200px 20px;
}
  

.social-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
  
.social-icons a img {
    width: 70px;
    height: 70px;
    opacity: 1;
    transition: opacity 0.3s ease;
}
  
.social-icons a img:hover {
    opacity: 0.6;
}

/* Pub-list CSS */




/* Footer section CSS */

.footer {
    background-color: #f5f5f5;
    padding: 20px 23px;
}

.img-icon {
    width: 28px;
    margin: 0px 20px 0px 0px;
    opacity: 1.0;
    transition-duration: 0.3s;
}

.img-icon:hover {
    opacity: 0.7;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    body {
        font-size: 16px;
    }
        
    .width {
        margin: 0 auto;
    }
        
    .desktop {
        display: none;
    }

    .MG {
        text-align: center;
        width: 100%;
        font-size: 24px;
        font-weight: 600;
        padding: 20px 0;
    }
        
    .topnav-flex-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .intro {
        padding: 10px 23px 60px;
    }

    .intro-img {
        display: block;
        width: 100%;
        max-width: 220px;
        margin: 20px auto 40px;
        border-radius: 12px;
    }

    .hero-banner {
        padding: 40px 0;
        background-size: cover;
        background-position: center;
        height: 350px; /* reduce from large default */
    }

    .hero-content h1 {
        font-size: 28px;
        line-height: 1.5;
        font-weight: 600;
    }

    .hero-link {
        margin-top: auto;
    }
    
    .research-card {
        display: block;
        padding: 20px 0;
    }
        
    .research-img-container {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
        
    .research-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 12px;
    }
    
    .research-text h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
        
    .button {
        font-size: 14px;
        padding: 10px 18px;
        margin: 10px 0px 30px;
        }

    .footer-flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
      
    .img-icon {
        width: 32px;
        height: 32px;
        margin: 6px;
    }

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    
    body {
        font-size: 17px;
    }

    .width {
        margin: 0 auto;
    }

    .desktop {
        display: none;
    }

    .MG {
        text-align: center;
        width: 100%;
        font-size: 24px;
        font-weight: 600;
        padding: 20px 0;
    }
        
    .topnav-flex-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .intro {
        padding: 10px 23px 60px;
    }

    .intro-img {
        display: block;
        width: 100%;
        max-width: 280px;
        margin: 20px auto 40px;
        border-radius: 12px;
    }

    .hero-banner {
        padding: 40px 0;
        background-size: cover;
        background-position: center;
        height: 450px; /* reduce from large default */

    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 1.5;
        font-weight: 600;
    }

    .hero-link {
        margin-top: auto;
    }
    
    .research-card {
        display: block;
        padding: 30px 0;
    }
        
    .research-img-container {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
        
    .research-img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 12px;
    }
    
    .research-text h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
        
    .button {
        font-size: 14px;
        padding: 10px 18px;
        margin: 10px 0px 30px;
        }

    .footer-flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
      
    .img-icon {
        width: 32px;
        height: 32px;
        margin: 6px;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    body {
        font-size: 17px;
    }

    .width {
        margin: 0 auto;
    }

    .desktop {
        display: none;
    }

    .MG {
        text-align: center;
        width: 100%;
        font-size: 24px;
        font-weight: 600;
        padding: 20px 0;
    }
        
    .topnav-flex-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .intro {
        padding: 10px 23px 60px;
    }

    .intro-img {
        display: block;
        width: 100%;
        max-width: 280px;
        margin: 20px auto 40px;
        border-radius: 12px;
    }

    .hero-banner {
        padding: 40px 0;
        background-size: cover;
        background-position: center;
        height: 450px; /* reduce from large default */

    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 1.5;
        font-weight: 600;
    }

    .hero-link {
        margin-top: auto;
    }
    
    .research-card {
        display: block;
        padding: 40px 0;
    }
        
    .research-img-container {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
        
    .research-img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 12px;
    }
    
    .research-text h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
        
    .button {
        font-size: 17px;
        padding: 10px 18px;
        margin: 10px 0px 30px;
        }

    .footer-flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
      
    .img-icon {
        width: 32px;
        height: 32px;
        margin: 6px;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .mobile {
        display: none;
    }
    
    .width {
        width: 90%;
        margin: 0px auto;
    }
    
    .intro-img {
        display: block;
        width: 100%;
        max-width: 280px;
        margin: 20px auto;
        border-radius: 12px;
    }
    
    .topnav {
        padding: 0px 23px;
    }

    .topnav-flex-container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 25px 0px;
        align-items: center;
    }

    .nav-menu a {
        padding: 0px 0px 0px 65px;
    }

    .intro-grid-container {
        display: grid;
        margin: 0px auto;
        padding: 80px 0px;
        grid-template-columns: 70% 24%;
        grid-column-gap: 6%;
    }

    .intro-grid-right {
        padding: 30px 0px;    
    }

    .research-card {
        display: grid;
        margin: 0px auto;
        padding: 80px 0px;
        grid-template-columns: 40% 55%;
        grid-column-gap: 5%;
        align-items: center;
      }

    .research-card.reverse {
        grid-template-columns: 55% 40%;
      }

    .research-img-container {
        height: 600px;
        overflow: hidden;
        border-radius: 12px;
      }
    
    .research-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top; /* Adjust for more/less headroom */
        display: block;
      }
    
    .research-text {
        height: 100%;
        background-color: #faf6f3;
        border-radius: 12px;
        padding: 0px 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
      .button {
        font-size: 18px;
        padding: 10px 18px;
        margin: 50px 0px 30px;
        }

    .footer-flex-container {
        display: flex;
        justify-content: space-between;
        margin: 0px auto;
        padding: 10px 0px;
        color: #393939;
    }
    
    .footer-left-flex-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    
    .width {
        width: 1040px;

    }

    .intro-grid-container {
        display: grid;
        margin: 0px auto;
        padding: 80px 0px;
        grid-template-columns: 700px 240px;
        grid-column-gap: 100px;
    }

    .intro-grid-right {
        padding: 30px 0px;    
    }

    .research-card {
        display: grid;
        margin: 0px auto;
        padding: 80px 0px;
        grid-template-columns: 40% 55%;
        grid-column-gap: 5%;
        align-items: center;
      }

    .research-card.reverse {
        grid-template-columns: 55% 40%;
      }

    .research-img-container {
        height: 600px;
        overflow: hidden;
        border-radius: 12px;
      }
    
    .research-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top; /* Adjust for more/less headroom */
        display: block;
      }
    
   
    

}









