body {
    font-family: 'Lato', sans-serif;
    color: #222222;
    line-height: 1.5;
    margin: 0;
}

.body-s {
    font-size: 15px;
}

h1 {
    font-size: 55px;
    color: #4a4a4a;
    margin: 5px 0px 50px;
}

h2 {
    font-size: 24px;
    color: #4a4a4a;
    margin: 20px 0px 0px;
}

h3 {
    font-size: 26px;
    font-weight: 600;
    color: #393939;
    margin: 10px 0px;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    color: #393939;
    margin: 20px 0px;
}

a {
    text-decoration: none;
    color: #7D9ABC;
}


/* Nav CSS */

.topnav {
    background-color: #3F3D56;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 20px 23px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu>a {
    width: 100%;
    text-align: left;
}

.topnav a {
    text-decoration: none;
    color: #ffffff;
}


/* Home - Introduction section CSS */

.intro {
    background-color: #fafafa;
    padding: 20px 23px;
}

.intro-img {
    width: 50%;
    margin: 30px 5px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.handle {
    font-size: 14px;
    margin: 5px 0px;
}

.handle a {
    text-decoration: none;
}

.check {
    margin: 40px 0px;
}

.check-button {
    font-size: 16px;
    color: #222222;
    border-bottom: 3px solid #3F3D56;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #fafafa;
    padding: 16px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.check-button:hover {
    border-bottom: 10px solid #3F3D56;
    padding: 16px 0px 9px;
}

.check a {
    text-decoration: none;
    font-weight: 700;
    color: #222222;
}

html {
    scroll-behavior: smooth;
}

/* Home - Feature section CSS */

.feature {
    padding: 20px 23px;
    font-size: 17px;
}

.feature-header {
    padding: 155px 0px 50px;
}

.feature-img {
    margin: 14px 0px;
    width: 100%;
}

.space {
    height: 80px;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0.2;
    transition: all 2s ease;
}
  
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
       
.button {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    border: 1.5px solid #3F3D56;
    border-radius: 4px;
    background-color: #3F3D56;
    padding: 14px 20px;
    margin: 10px 0px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.secondary-button {
    font-size: 14px;
    color: #222222;
    text-decoration: none;
    border: 1.5px solid #373737;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 14px 20px;
    margin: 10px 0px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #F0F1FC;
    border: 1.5px solid #3F3D56;
    color: #3F3D56;
}

.secondary-button:hover {
    background-color: #fafafa;
    border: 1.5px solid #222222;
}


/* Pub Page CSS */

.pub {
    padding: 20px 23px;
}

.pub-grid-container {
    display: grid;
    margin: 0px auto;
    padding: 20px 0px;
    grid-template-columns: 100% 0%;
    font-size: 15px;
    line-height: 1.6;
}

.pub-box {
    display: grid;
    grid-template-columns: 12px auto;
    grid-column-gap: 10px;
    border: 1px solid #dadada;
    border-radius: 8px;
    background: #f5f5f5;
    font-size: 14px;
    color: #555555;
    padding: 0px 15px;
    margin: 35px 0px 50px;
    word-wrap: break-word;
}

.pub-img {
    width: 100%;
    padding: 240px 0px;
    position: sticky;
    top: 0;
}

.pub-box-cn {
    margin: 155px 0px 50px;
}

.pub-list a {
    color: #7D9ABC;
    word-wrap: break-word;
}

.pub-list p {
    margin: 20px 0px;
}


/* Portfolio page CSS */

.intro-portfolio {
    padding: 20px 23px;
}

.list-menu {
    display: flex;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}


/* Footer section CSS */

.footer {
    background-color: #f5f5f5;
    padding: 20px 23px;
}

.img-icon {
    width: 28px;
    margin: 0px 20px 0px 0px;
    opacity: 1.0;
    transition-duration: 0.3s;
}

.img-icon:hover {
    opacity: 0.7;
}

.large {
    font-size: 20px;
    font-style: italic;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    body {
        font-size: 16px;
    }

    .desktop {
        display: none;
    }

    .feature-img-desktop {
        display: none;
    }
    
    .MG {
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0px;
    }

    .intro-img {
        width: 50%;
    }

    .feature-grid-container2 {
        padding: 80px 0px;
    }

    .intro-portfolio {
        padding: 20px 23px;
    }

    .center {
        padding: 20px 0px;
    }

    .list-menu {
        display: flex;
        flex-direction: column;
    }

    .footer-flex-container {
        color: #3F3D56;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    
    .desktop {
        display: none;
    }

    .feature-img-desktop {
        display: none;
    }

    .width {
        width: 90%;
        margin: 0px auto;
    }

    .MG {
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0px;
    }

    .intro-img {
        width: 140px;
    }

    .feature-img {
        width: 40%;
    }

    .feature-grid-container2 {
        padding: 80px 0px;
    }

    .center {
        padding: 20px 0px;
    }

    .footer-flex-container {
        color: #3F3D56;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .mobile {
        display: none;
    }

    .feature-img-desktop {
        display: none;
    }

    .width {
        width: 90%;
        margin: 0px auto;
    }

    .topnav {
        padding: 0px 23px;
    }

    .topnav-flex-container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 25px 0px;
    }

    .nav-menu a {
        padding: 0px 0px 0px 65px;
    }

    .intro-grid-container {
        display: grid;
        margin: 0px auto;
        padding: 80px 0px;
        grid-template-columns: 65% 30%;
        grid-column-gap: 8%;
    }

    .port-grid-container {
        display: grid;
        margin: 0px auto;
        padding: 80px 0px;
        grid-template-columns: 60% 35%;
        grid-column-gap: 5%;
    }

    .intro-img {
        width: 180px;
    }

    .intro-grid-right {
        padding: 50px 0px;    
    }
    
    .handle {
        font-size: 14px;
        padding: 0px 10px;
        margin: 5px 0px;
    }

    .feature-img {
        margin: 14px 0px;
        width: 300px;
        height: 210px;
    }

    .feature-grid-container2 {
        padding: 80px 0px;
    }

    .footer-flex-container {
        display: flex;
        justify-content: space-between;
        margin: 0px auto;
        padding: 10px 0px;
        color: #3F3D56;
    }
    
    .footer-left-flex-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pub-grid-container {
        display: grid;
        margin: 0px auto;
        padding: 60px 0px;
        grid-template-columns: 75% 20%;
        grid-column-gap: 5%;
        font-size: 15px;
        line-height: 1.6;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body {
        font-size: 16px;
    }

    .body-s {
        font-size: 14px;
    }

    .width {
        width: 85%;
    }

    .intro-img {
        width: 220px;
    }

    .feature-img-mobile {
        display: none;
    }

    .feature-img-desktop {
        display: inline;
    }

    .intro-grid-container {
        display: grid;
        margin: 0px auto;
        padding: 80px 0px;
        grid-template-columns: 67% 25%;
        grid-column-gap: 8%;
    }

    .intro-grid-right {
        padding: 50px 0px;    
    }

    .feature-img {
        margin: 14px 0px;
        width: 300px;
        height: 210px;
    }

    .feature-grid-container1 {
        display: grid;
        grid-template-columns: 40% 55%;
        grid-column-gap: 5%;
        padding: 80px 0px;
    }
    
    .feature-grid-container2 {
        display: grid;
        grid-template-columns: 55% 40%;
        grid-column-gap: 5%;
        padding: 80px 0px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .mobile {
        display: none;
    }

    .width {
        width: 1000px;
    }

    .feature-img-mobile {
        display: none;
    }

    .feature-img-desktop {
        display: inline;
    }

    .intro-grid-container {
        display: grid;
        margin: 0px auto;
        padding: 80px 0px;
        grid-template-columns: 700px 220px;
        grid-column-gap: 80px;
    }

    .port-grid-container {
        display: grid;
        margin: 0px auto;
        padding: 80px 0px;
        grid-template-columns: 520px 400px;
        grid-column-gap: 80px;
    }

    .intro-grid-right {
        padding: 50px 0px;    
    }

    .feature-img {
        margin: 14px 0px;
        width: 375px;
        height: 250px;
    }

    .feature-grid-container1 {
        display: grid;
        grid-template-columns: 375px 550px;
        grid-column-gap: 75px;
    }
    
    .feature-grid-container2 {
        display: grid;
        grid-template-columns: 550px 375px;
        grid-column-gap: 75px;
    } 

    .pub-grid-container {
        grid-template-columns: 70% 25%;
    }

}









